.aParent {
    display: inline-flex;
}

.left {
    width: 30vw;
    height: 98vh;
}

.video-div {
    flex-grow:1;
    width: 68vw;
    height: 98vh;
}

.video {
    flex-grow: 1;
    width: 68vw;
    height: 98vh;
    overflow: auto;
}