body {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: auto;
}

.left {
    width: auto;
    margin: 4px;
}

.img-div {
    flex: 1;
}

.img {
    width: 100%;
    height: 100vh;
}